<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">
<head>
    <title>Postcards</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/sidebar.css"/>
    <link rel="stylesheet" href="styles/profile.css"/>
    <link rel="shortcut icon" href="https://img.icons8.com/ios/64/000000/combi-ticket.png" type="image/x-icon"/>
</head>
<body>
  <!-- header -->
  <div class="header">
    <div id="mySidebar" class="sidebar">
      <h1 class="center-content" id="sidebar-title">Postcards</h1>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/profile" class="center-content">Profile</a>
      <a href="/" class="center-content">Explore</a>
      <a href="https://github.com/githelsui/postcards" class="center-content">About</a>
    </div>
    <div id="main">
      <button class="openbtn" onclick="openNav()">&#9776;</button>
      <h1 class="center-content" id="main-title">Postcards</h1>
    </div>
  </div>


  <!-- content -->
<div class="center">
  <div id="login-header">Create an Account.<br>
    <div class="italic">
    And start sharing postcards to friends<br> or the world.
    </div>
  </div><br>
  <button type="submit" class="account-button" onclick="window.location.href = '{{loginurl}}'">Login</button>
</div>

    <script src="scripts/main.js"></script>
</body>
</html>
