<!DOCTYPE html>
<html>
<head>
    <title>Postcards</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/sidebar.css"/>
    <link rel="shortcut icon" href="https://img.icons8.com/ios/64/000000/combi-ticket.png" type="image/x-icon"/>
</head>
<body>
  <div class="container">
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#" class="center-content">Profile</a>
      <a href="#" class="center-content">Explore</a>
      <a href="https://github.com/githelsui/postcards" class="center-content">About</a>
    </div>
    <div id="main">
      <button class="openbtn" onclick="openNav()">&#9776;</button>
      <h1 class="center-content" id="main-title">Postcards</h1>
    </div>
  </div>
    <script src="scripts/main.js"></script>
    <script>
    // const userEmail = "{{email}}";
    // {% for tree in trees %}
    // addTree({{loop.index}}, userEmail, L.latLng({{tree.lat}}, {{tree.long}}), "{{loadmytrees}}");
    // {% endfor %}
    // {% if loadmytrees == 'true' %}
    //   ifNoTrees({{trees|length}});
    // {% endif %}
    // setCurrEmail(userEmail);
    // {% for tree in othertrees %}
    // addOtherTree("{{tree.email}}", L.latLng({{tree.lat}}, {{tree.long}}));
    // {% endfor %}
    // {% if loadmytrees == 'false' %}
    //   {% for value in planters %}
    //     addToLeaderboard({{loop.index}}, "{{value[0]}}", {{value[1]}});
    //   {% endfor %}
    // {% endif %}
    // {% if loadmytrees == 'about' %}
    //   makeAboutPage("{{aboutmsg}}")
    // {% endif %}
    </script>
</body>
</html>
