<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">
<head>
    <title>Postcards</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/sidebar.css"/>
    <link rel="shortcut icon" href="https://img.icons8.com/ios/64/000000/combi-ticket.png" type="image/x-icon"/>
</head>
<body>
  <!-- header -->
  <div class="header">
    <div id="mySidebar" class="sidebar">
      <h1 class="center-content" id="sidebar-title">Postcards</h1>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#" class="center-content">Profile</a>
      <a href="#" class="center-content">Explore</a>
      <a href="https://github.com/githelsui/postcards" class="center-content">About</a>
    </div>
    <div id="main">
      <button class="openbtn" onclick="openNav()">&#9776;</button>
      <h1 class="center-content" id="main-title">Postcards</h1>
    </div>
  </div>

  <!-- content -->
  <div id="content">

    <!-- template for content -->
    <!-- <div class="card">
        <img src="https://images.unsplash.com/photo-1564516441792-930ff57bf91e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1564665872710-7cce69129b0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1564665872710-7cce69129b0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1564665872710-7cce69129b0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
    </div> -->

    <!-- card flips -->
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://assets.community.lomography.com/f4/308d2c9eb72a63905010150f70b1c246287576/386x256x2.jpg?auth=05ac8e78da3e54e46cbe282e0e8dcb38127b049a" alt="Image">
    </div>
    <div class="flip-card-back">
      <div class="caption">
        <h1>To: kdsk<br>From: blah</h1>
        <div class="description">sample message</div>
        <div class="description">- 03/31/2000</div>
      </div>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://format-magazine-production-res.cloudinary.com/image/upload/c_limit,w_3000,h_1988,f_jpg,f_auto/Random800-1" alt="Image">
    </div>
    <div class="flip-card-back">
      <div class="caption">
        <h1>To: kdsk<br>From: blah</h1>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
           nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
           reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</div>
        <div class="description">- 03/31/2000</div>
      </div>
    </div>
  </div>
</div>

</div>

    <script src="scripts/main.js"></script>
    <script>
    // const userEmail = "{{email}}";
    // {% for tree in trees %}
    // addTree({{loop.index}}, userEmail, L.latLng({{tree.lat}}, {{tree.long}}), "{{loadmytrees}}");
    // {% endfor %}
    // {% if loadmytrees == 'true' %}
    //   ifNoTrees({{trees|length}});
    // {% endif %}
    // setCurrEmail(userEmail);
    // {% for tree in othertrees %}
    // addOtherTree("{{tree.email}}", L.latLng({{tree.lat}}, {{tree.long}}));
    // {% endfor %}
    // {% if loadmytrees == 'false' %}
    //   {% for value in planters %}
    //     addToLeaderboard({{loop.index}}, "{{value[0]}}", {{value[1]}});
    //   {% endfor %}
    // {% endif %}
    // {% if loadmytrees == 'about' %}
    //   makeAboutPage("{{aboutmsg}}")
    // {% endif %}
    </script>
</body>
</html>
