body, html {
		padding: 0;
		margin: 0;
		width: 100%;
		color: white;
		font-family: Futura, Futura-Medium, "Futura Medium",
		"Century Gothic", CenturyGothic, "Apple Gothic",
		AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    background: black;
		height: 100%;
}

h1{
	font-weight: normal;
	font-size: 60px;
}

h1:hover{
	color:yellow;
}


img{
	width:100%;
	height:80%;
}

#main-title{
	width: 80%;
	margin-top:5px;
}

.header{
	position:fixed;
	width:device-width;
	top:0;
	width:100%;
}

.center-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}
.center-content h1, .center-content h2 {
	color: white;
	line-height: 1;
}

.card{
	padding:20px;
	display: block;
}

#content{
	display:flex;
	width: 80%;
	padding:50px;
	margin-top:50px;
  display: flex;
	flex-wrap: wrap-reverse;
	align-items: center;
  cursor: pointer;
}


@media screen and (min-width: 500px) {
  /* For desktop: */
	/* color:yellow; */
	img{
		width:50%;
		height:100%;
	}
}


@media screen and (max-width: 400px) {
  /* For desktop: */
	/* color:yellow; */
	#main-title{
		width: 50%;
		margin-top:5px;
	}
}
