/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50%; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  text-align:center;
  display: block;
  transition: 0.3s;
}

#sidebar-title{
  font-style: italic;
  font-size: 70px;
}
#sidebar-title:hover{
  color: white;
}

.center-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin: auto; */
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: yellow;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 40px;
  float:left;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media screen and (min-width: 500px) {
  /* For desktop: */
	/* color:yellow; */
	.sidebar {padding-top: 20%;}
}
